In [1]:
import numpy as np
import pandas as pd

# Timestamp Object

Time stamps reference particular moments in time(e.g Oct 24th, 2022 at 7:00pm)

# Creating Timestamp objects

In [7]:
#creating a timestamp
pd.Timestamp("2023/2/28")

Timestamp('2023-02-28 00:00:00')

In [8]:
type(pd.Timestamp("2023/2/28"))

pandas._libs.tslibs.timestamps.Timestamp

In [10]:
#variations
pd.Timestamp("2023-2-28")
pd.Timestamp("2023, 2, 28")

Timestamp('2023-02-28 00:00:00')

In [11]:
#only year
pd.Timestamp("2023")

Timestamp('2023-01-01 00:00:00')

In [12]:
#using text
pd.Timestamp("28th feb 2023")

Timestamp('2023-02-28 00:00:00')

In [15]:
#providing time also
pd.Timestamp("28th feb 2023 12:50pm")

Timestamp('2023-02-28 12:50:00')

In [16]:
#AM/PM

In [20]:
#using python datetime objects
import datetime as dt
dt.datetime(2023,2,28,12,50,23)

datetime.datetime(2023, 2, 28, 12, 50, 23)

In [22]:
x = pd.Timestamp(dt.datetime(2023,2,28,12,50,23))
x

Timestamp('2023-02-28 12:50:23')

In [30]:
x.year
x.month
x.day
x.hour
x.minute
x.second

23

In [18]:
#fetching attributes

In [19]:
#why separate objects to handle data and time with pyton already has datetime functionality?

Syntax wise datetime is very convenient

But the performance takes a hit while working with huge data. List vs Numpy Array

The weakness of python's datetime format inspired the Numpy team to add a set of native time series data type to Numpy

The datetime64 dtype encodes dates as 64-bit integers, and thus allows array of dates to be represented very compactly

In [31]:
date = np.array("2015-07-04",dtype=np.datetime64)
date

array('2015-07-04', dtype='datetime64[D]')

In [32]:
date + np.arange(22)

array(['2015-07-04', '2015-07-05', '2015-07-06', '2015-07-07',
       '2015-07-08', '2015-07-09', '2015-07-10', '2015-07-11',
       '2015-07-12', '2015-07-13', '2015-07-14', '2015-07-15',
       '2015-07-16', '2015-07-17', '2015-07-18', '2015-07-19',
       '2015-07-20', '2015-07-21', '2015-07-22', '2015-07-23',
       '2015-07-24', '2015-07-25'], dtype='datetime64[D]')

From a group of these Timestamp objects, pandas can construct a Datatimeindex that can be used to index data in a Series or DataFrame

# datetimeindex object

A collection of pandas timestamp

In [34]:
# from string
pd.DatetimeIndex(["2023/1/1","2023/2/12","2023/4/10"])

DatetimeIndex(['2023-01-01', '2023-02-12', '2023-04-10'], dtype='datetime64[ns]', freq=None)

In [36]:
#using python datetime object
pd.DatetimeIndex([dt.datetime(2023,1,1),dt.datetime(2023,2,12),dt.datetime(2023,4,10)])

DatetimeIndex(['2023-01-01', '2023-02-12', '2023-04-10'], dtype='datetime64[ns]', freq=None)

In [38]:
#using pd timestamp
dt_index = pd.DatetimeIndex([pd.Timestamp(2023,1,1),pd.Timestamp(2023,2,12),pd.Timestamp(2023,4,10)])

In [39]:
# using datetimeindex as series index
pd.Series([1,2,3],index=dt_index)

2023-01-01    1
2023-02-12    2
2023-04-10    3
dtype: int64

# date_range function

In [44]:
# generate daily dates in a given range
pd.date_range(start='2023/1/5',end='2023/1/31',freq="D")

DatetimeIndex(['2023-01-05', '2023-01-07', '2023-01-09', '2023-01-11',
               '2023-01-13', '2023-01-15', '2023-01-17', '2023-01-19',
               '2023-01-21', '2023-01-23', '2023-01-25', '2023-01-27',
               '2023-01-29', '2023-01-31'],
              dtype='datetime64[ns]', freq='2D')

In [45]:
# alternate days in a given range
pd.date_range(start='2023/1/5',end='2023/1/31',freq="2D")

DatetimeIndex(['2023-01-05', '2023-01-07', '2023-01-09', '2023-01-11',
               '2023-01-13', '2023-01-15', '2023-01-17', '2023-01-19',
               '2023-01-21', '2023-01-23', '2023-01-25', '2023-01-27',
               '2023-01-29', '2023-01-31'],
              dtype='datetime64[ns]', freq='2D')

In [46]:
# B -> business days
pd.date_range(start='2023/1/5',end='2023/1/31',freq="B")

DatetimeIndex(['2023-01-05', '2023-01-06', '2023-01-09', '2023-01-10',
               '2023-01-11', '2023-01-12', '2023-01-13', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-23', '2023-01-24', '2023-01-25', '2023-01-26',
               '2023-01-27', '2023-01-30', '2023-01-31'],
              dtype='datetime64[ns]', freq='B')

In [47]:
# W -> one week per day
pd.date_range(start='2023/1/5',end='2023/1/31',freq="W")

DatetimeIndex(['2023-01-08', '2023-01-15', '2023-01-22', '2023-01-29'], dtype='datetime64[ns]', freq='W-SUN')

In [50]:
# H -> hourly data(factor)
pd.date_range(start='2023/1/5',end='2023/1/31',freq="H")
pd.date_range(start='2023/1/5',end='2023/1/31',freq="6H")

DatetimeIndex(['2023-01-05 00:00:00', '2023-01-05 06:00:00',
               '2023-01-05 12:00:00', '2023-01-05 18:00:00',
               '2023-01-06 00:00:00', '2023-01-06 06:00:00',
               '2023-01-06 12:00:00', '2023-01-06 18:00:00',
               '2023-01-07 00:00:00', '2023-01-07 06:00:00',
               ...
               '2023-01-28 18:00:00', '2023-01-29 00:00:00',
               '2023-01-29 06:00:00', '2023-01-29 12:00:00',
               '2023-01-29 18:00:00', '2023-01-30 00:00:00',
               '2023-01-30 06:00:00', '2023-01-30 12:00:00',
               '2023-01-30 18:00:00', '2023-01-31 00:00:00'],
              dtype='datetime64[ns]', length=105, freq='6H')

In [51]:
#m -> Month end
pd.date_range(start='2023/1/5',end='2023/1/31',freq="M")

DatetimeIndex(['2023-01-31'], dtype='datetime64[ns]', freq='M')

In [52]:
# MS -> month start
pd.date_range(start='2023/1/5',end='2023/1/31',freq="MS")

DatetimeIndex([], dtype='datetime64[ns]', freq='MS')

In [53]:
#A -> year end
pd.date_range(start='2023/1/5',end='2023/1/31',freq="A")

DatetimeIndex([], dtype='datetime64[ns]', freq='A-DEC')

In [55]:
# using period(number of results)
pd.date_range(start='2023/1/5',periods=25,freq="D")

DatetimeIndex(['2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29'],
              dtype='datetime64[ns]', freq='D')

# to_datetime function

converts an existing objects to pandas timestamp/datetimeindex object

In [60]:
#simple series example
s = pd.Series(["2023/1/1","2022/1/1","2021/1/1"])
pd.to_datetime(s).dt.day_name()

0      Sunday
1    Saturday
2      Friday
dtype: object

In [61]:
#with errors
s = pd.Series(["2023/1/1","2022/1/1","2021/130/1"])
pd.to_datetime(s,errors='coerce')

0   2023-01-01
1   2022-01-01
2          NaT
dtype: datetime64[ns]